
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');

*{
    bantalan: 0;
    margin: 0;
    ukuran kotak: kotak perbatasan;
    font-family: 'Poppins', sans-serif;
}

tubuh{
    posisi latar belakang: tengah;
    background-repeat: tidak-ulangi;
    ukuran latar belakang: sampul;
}

tubuh.gelap {
	background-image: url('https://baybae.github.io/data/814dc43e870597176cad645798825c03.mp4');
}

tubuh.cahaya {
	background-image: url('https://raw.githubusercontent.com/mjvbz/mjvbz.github.io/master/public/images/bg.jpg');
}
	
#memeriksa {
    tampilan: tidak ada;
}

.gelap .wadah{
    bantalan: 20 piksel;
    tampilan: fleksibel;
    justify-content: pusat;
    align-item: tengah;
    min-tinggi: 100vh;
}

.gelap .kartu{
    posisi: relatif;
    lebar: 400px;
    warna-latar belakang: #000;
    batas-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    melimpah: tersembunyi;
}

.gelap .card:sebelum{
    isi: '';
    posisi: mutlak;
    lebar: 100%;
    tinggi: 270 piksel;
    atas: 0;
    kiri: 0;
    warna latar:#1F2833;
    clip-path: lingkaran (400px pada 50% -48,5%);
}

.gelap .header{
    posisi: relatif;
    tinggi: 265 piksel;
}

.gelap .mail{
    posisi: mutlak;
    atas: 1 rem;
    kanan: 2rem;
    ukuran font: 1.5rem;
    warna: #7F00FF;
    opasitas: .8;
    transisi: .3s;
    indeks-z: 3;
    dekorasi teks: tidak ada;
}

.gelap .mail:arahkan{
    opasitas: 1;
}

.dark .hamburger-menu{
    posisi: mutlak;
    lebar: 21 piksel;
    tinggi: 16 piksel;
    atas: 1.4rem;
    kiri: 1,9 rem;
    indeks-z: 3;
    kursor: penunjuk;
    transisi: .3s;
    opasitas: .8;
}

.dark .hamburger-menu:hover{
    opasitas: 1;
}

.dark .hamburger-menu .center{
    posisi: mutlak;
    tinggi: 2 piksel;
    lebar: 70%;
    atas: 50%;
    mengubah: translateY(-50%);
    warna-latar belakang: #001626;
    batas-radius: 1px;
}

.dark .hamburger-menu:before, .dark .hamburger-menu:after{
    isi: '';
    posisi: mutlak;
    lebar: 100%;
    tinggi: 2 piksel;
    batas-radius: 1px;
    warna-latar belakang: #000;
}

.dark .hamburger-menu:sebelum{
    atas: 0;
}

.dark .hamburger-menu:setelah{
    bawah: 0;
}

.gelap .main{
    posisi: mutlak;
    lebar: 100%;
    tinggi: 100%;
    atas: 0;
    kiri: 0;
    tampilan: fleksibel;
    arah fleksibel: kolom;
    justify-content: pusat;
    align-item: tengah;
}

.gelap .utama .gambar{
    posisi: relatif;
    lebar: 110 piksel;
    tinggi: 110 piksel;
    batas-radius: 50%;
    latar belakang: url('https://avatars.githubusercontent.com/u/85196372?s=400&u=8740585aca0a7d17e89d638bdff27060458abe38&v=4') pusat/penutup tanpa pengulangan;
    batas: 4px solid #000;
    margin-bawah: 2px;
    melimpah: tersembunyi;
    kursor: penunjuk;
}

.gelap .gambar .hover{
    posisi: mutlak;
    lebar: 100%;
    tinggi: 100%;
    atas: 0;
    kiri: 0;
    warna latar: #1F2833;
    tampilan: fleksibel;
    justify-content: pusat;
    align-item: tengah;
    warna: #ff;
    transisi: .5s;
    opasitas: 0;
}

.gelap .image:hover .hover{
    opasitas: 1;
}

.gelap .hover.aktif{
    opasitas: 1;
}

.gelap .nama{
    font-family: 'Skrip Menari', kursif;
    ukuran font: 1.6rem;
    warna: #ff;
    font-berat: 500;
    tinggi garis: 1;
    margin: 5 piksel 0;
}

.gelap .sub-nama{
     font-family: 'poppins', sans-serif;
    ukuran font: 1.2rem;
    opasitas: .8;
    warna: #ff;
}

.gelap .konten{
    tampilan: fleksibel;
    bantalan: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.gelap .kanan{
    bantalan-atas: 1.5rem;
    tampilan: fleksibel;
    arah fleksibel: kolom;
    perataan teks: kanan;
    align-item: flex-end;
    justify-content: ruang-antara;
    margin-kiri: 2.1rem;
}

.gelap .angka{
    ukuran font: 2.1rem;
    font-berat: 200;
    warna: #333;
    tinggi garis: 1.2;
}

.gelap .number-title{
    ukuran font: .55rem;
    warna: #666;
    font-berat: 400;
    tinggi garis: 1;
    spasi huruf: 1px;
    transformasi teks: huruf besar;
}

.gelap .judul{
    posisi: relatif;
    warna: #7F00FF;
    font-berat: 500;
    ukuran font: 1.1rem;
    bantalan: 0 0 3px 0;
    margin-bawah: .9rem;
    tampilan: blok sebaris;
}

.gelap .title:setelah{
    isi: '';
    posisi: mutlak;
    tinggi: 3 piksel;
    lebar: 50%;
    warna latar belakang: #fff;
    bawah: 0;
    kiri: 0;
}

.gelap .teks{
    warna: #ff;
    font-berat: 300;
    tinggi garis: 1.7;
}

.gelap .icons-container{
    bantalan: 1 rem 0;
}

.gelap .ikon{
    warna: #ff;
    ukuran font: 1.3rem;
    dekorasi teks: tidak ada;
    margin-kanan: 8px;
    transisi: .3s;
}

.gelap .ikon: arahkan kursor{
    warna: #7F00FF;
}

.gelap .buttons-wrap{
    tampilan: fleksibel;
    margin-atas: 5px;
}

.dark .follow-wrap, .dark .share-wrap{
    fleksibel: 4;
    tampilan: fleksibel;
    justify-content: pusat;
    align-item: tengah;
    transisi: .5s;
}

.dark .follow-wrap:hover, .dark .share-wrap:hover{
    fleksibel: 5;
}

.gelap .ikuti{
    bantalan: 9.6px 0;
    lebar: 100%;
    latar belakang: #7F00FF;
    warna: #ff;
    perataan teks: tengah;
    dekorasi teks: tidak ada;
    ukuran font: .7rem;
    spasi huruf: 1px;
    transformasi teks: huruf besar;
    batas-radius: 18.1px;
    margin-kanan: 3px;
}

.gelap .berbagi{
    bantalan: 7.6px 0;
    lebar: 100%;
    perbatasan: 2px solid #7F00FF;
    warna: #7F00FF;
    dekorasi teks: tidak ada;
    perataan teks: tengah;
    ukuran font: .7rem;
    spasi huruf: 1px;
    transformasi teks: huruf besar;
    margin-kiri: 3px;
    batas-radius: 18.1px;
}

.gelap .close{
    posisi: mutlak;
    atas: 1 rem;
    kanan: 1 rem;
    lebar: 30 piksel;
    tinggi: 30 piksel;
    kursor: penunjuk;
    transisi: .3s;
}

.gelap .close:hover{
    opasitas: .5;
}

.dark .close:sebelum, .dark .close:after{
    isi: '';
    posisi: mutlak;
    lebar: 100%;
    tinggi: 3 piksel;
    batas-radius: 1.5px;
    atas: 50%;
    kiri: 50%;
    warna latar belakang: #fff;
}

.gelap .close:sebelum{
    ubah: terjemahkan(-50%, -50%) putar (45deg);
}

.gelap .close:setelah{
    ubah: terjemahkan(-50%, -50%) putar(135deg);
}

.gelap .sidebar {
     posisi: mutlak;
     atas: 50 piksel;
     kiri: 20 piksel;
     indeks-z: 1000;
     lebar: 50%;
     tampilan: tidak ada;
}

.gelap .sidebar ul {
     posisi: mutlak;
     latar belakang: #000;
     tampilan: fleksibel;
     arah fleksibel: kolom;
     lebar: 100%;
     align-item: tengah;
     list-style-type: tidak ada;
     batas-radius: 5px;
}

.gelap .sidebar ul li {
     margin: 8 piksel;
}

.gelap .sidebar ul li a{
     ukuran font: 17px;
     warna: #535A5E;
     bantalan: 5px 10px;
     batas-radius: 4px;
     warna: #ff;
     dekorasi teks: tidak ada;
}

.ringan .wadah{
    bantalan: 20 piksel;
    tampilan: fleksibel;
    justify-content: pusat;
    align-item: tengah;
    min-tinggi: 100vh;
}

.ringan .kartu{
    posisi: relatif;
    lebar: 400px;
    warna-latar belakang: asap putih;
    batas-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    melimpah: tersembunyi;
}

.light .card:sebelum{
    isi: '';
    posisi: mutlak;
    lebar: 100%;
    tinggi: 270 piksel;
    atas: 0;
    kiri: 0;
    warna latar:#3a5069;
    clip-path: lingkaran (400px pada 50% -48,5%);
}

.light .header{
    posisi: relatif;
    tinggi: 265 piksel;
}

.light .mail{
    posisi: mutlak;
    atas: 1 rem;
    kanan: 2rem;
    ukuran font: 1.5rem;
    warna: #ff;
    opasitas: .8;
    transisi: .3s;
    indeks-z: 3;
    dekorasi teks: tidak ada;
}

.light .mail:arahkan{
    opasitas: 1;
}

.light .hamburger-menu{
    posisi: mutlak;
    lebar: 21 piksel;
    tinggi: 16 piksel;
    atas: 1.4rem;
    kiri: 1,9 rem;
    indeks-z: 3;
    kursor: penunjuk;
    transisi: .3s;
    opasitas: .8;
}

.light .hamburger-menu:hover{
    opasitas: 1;
}

.light .hamburger-menu .center{
    posisi: mutlak;
    tinggi: 2 piksel;
    lebar: 70%;
    atas: 50%;
    mengubah: translateY(-50%);
    warna latar belakang: #fff;
    batas-radius: 1px;
}

.light .hamburger-menu:before, .light .hamburger-menu:after{
    isi: '';
    posisi: mutlak;
    lebar: 100%;
    tinggi: 2 piksel;
    batas-radius: 1px;
    warna latar belakang: #fff;
}

.light .hamburger-menu:sebelum{
    atas: 0;
}

.light .hamburger-menu:setelah{
    bawah: 0;
}

.light .main{
    posisi: mutlak;
    lebar: 100%;
    tinggi: 100%;
    atas: 0;
    kiri: 0;
    tampilan: fleksibel;
    arah fleksibel: kolom;
    justify-content: pusat;
    align-item: tengah;
}

.light .main .image{
    posisi: relatif;
    lebar: 110 piksel;
    tinggi: 110 piksel;
    batas-radius: 50%;
    latar belakang: url('https://user-images.githubusercontent.com/84258378/144585764-bd6e6c09-d63e-4445-ad3f-d1fb7bafbcbf.jpeg') no-repeat center / cover;
    batas: 4px solid #a1b6b1;
    margin-bawah: 2px;
    melimpah: tersembunyi;
    kursor: penunjuk;
}

.light .image .hover{
    posisi: mutlak;
    lebar: 100%;
    tinggi: 100%;
    atas: 0;
    kiri: 0;
    warna latar: rgba(79, 172, 254, .7);
    tampilan: fleksibel;
    justify-content: pusat;
    align-item: tengah;
    warna: #ff;
    transisi: .5s;
    opasitas: 0;
}

.light .image:hover .hover{
    opasitas: 1;
}

.light .hover.active{
    opasitas: 1;
}

.light .nama{
    ukuran font: 1.2rem;
    warna: #ff;
    font-berat: 500;
    tinggi garis: 1;
    margin: 5 piksel 0;
}

.light .sub-nama{
    font-family: 'Titillium Web', sans-serif;
    ukuran font: 1.2rem;
    opasitas: .8;
    warna: #ff;
}

.ringan .konten{
    tampilan: fleksibel;
    bantalan: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.ringan .kanan{
    bantalan-atas: 1.5rem;
    tampilan: fleksibel;
    arah fleksibel: kolom;
    perataan teks: kanan;
    align-item: flex-end;
    justify-content: ruang-antara;
    margin-kiri: 2.1rem;
}

.light .number{
    ukuran font: 2.1rem;
    font-berat: 200;
    warna: #333;
    tinggi garis: 1.2;
}

.light .number-title{
    ukuran font: .55rem;
    warna: #666;
    font-berat: 400;
    tinggi garis: 1;
    spasi huruf: 1px;
    transformasi teks: huruf besar;
}

.light .title{
    posisi: relatif;
    warna hitam;
    font-berat: 500;
    ukuran font: 1.1rem;
    bantalan: 0 0 3px 0;
    margin-bawah: .9rem;
    tampilan: blok sebaris;
}

.light .title:setelah{
    isi: '';
    posisi: mutlak;
    tinggi: 3 piksel;
    lebar: 50%;
    warna-latar belakang: #555;
    bawah: 0;
    kiri: 0;
}

.ringan .teks{
    warna hitam;
    font-berat: 300;
    tinggi garis: 1.7;
}

.light .icons-container{
    bantalan: 1 rem 0;
}

.light .ikon{
    warna: #c4c4c4;
    ukuran font: 1.3rem;
    dekorasi teks: tidak ada;
    margin-kanan: 8px;
    transisi: .3s;
    opasitas: 200;
}

.light .icon:hover{
    warna: #3a5069;
}

.light .buttons-wrap{
    tampilan: fleksibel;
    margin-atas: 5px;
}

.light .follow-wrap, .light .share-wrap{
    fleksibel: 4;
    tampilan: fleksibel;
    justify-content: pusat;
    align-item: tengah;
    transisi: .5s;
}

.light .follow-wrap:hover, .light .share-wrap:hover{
    fleksibel: 5;
}

.light .follow{
    bantalan: 9.6px 0;
    lebar: 100%;
    latar belakang: linear-gradient(ke kanan, #4facfe 0%, #00f2fe 140%);
    warna: #ff;
    perataan teks: tengah;
    dekorasi teks: tidak ada;
    ukuran font: .7rem;
    spasi huruf: 1px;
    transformasi teks: huruf besar;
    batas-radius: 18.1px;
    margin-kanan: 3px;
}

.light .berbagi{
    bantalan: 7.6px 0;
    lebar: 100%;
    perbatasan: 2px solid #4facfe;
    warna: #93a4a8;
    dekorasi teks: tidak ada;
    perataan teks: tengah;
    ukuran font: .7rem;
    spasi huruf: 1px;
    transformasi teks: huruf besar;
    margin-kiri: 3px;
    batas-radius: 18.1px;
}

.modal{
    posisi: tetap;
    lebar: 100%;
    tinggi: 100vh;
    warna latar: rgba(0, 0, 0, 0.8);
    indeks-z: -1;
    opasitas: 0;
    transisi: .5s;
}

.modal img{
    posisi: mutlak;
    atas: 25%;
    kiri: 50%;
    transformasi: terjemahkan(-50%, -50%) skala(.3);
    lebar maksimum: 100%;
    tinggi maksimum: 100%;
    transisi: .5s;
}

.modal.tampilkan{
    opasitas: 1;
    indeks-z: 99;
}

.modal.tampilkan img{
    atas: 50%;
    ubah: terjemahkan(-50%, -50%) skala(1);
}

.light .close{
    posisi: mutlak;
    atas: 1 rem;
    kanan: 1 rem;
    lebar: 30 piksel;
    tinggi: 30 piksel;
    kursor: penunjuk;
    transisi: .3s;
}

.light .close:hover{
    opasitas: .5;
}

.light .close:sebelum, .light .close:setelah{
    isi: '';
    posisi: mutlak;
    lebar: 100%;
    tinggi: 3 piksel;
    batas-radius: 1.5px;
    atas: 50%;
    kiri: 50%;
    warna latar belakang: #fff;
}

.light .close:sebelum{
    ubah: terjemahkan(-50%, -50%) putar (45deg);
}

.light .close:setelah{
    ubah: terjemahkan(-50%, -50%) putar(135deg);
}

.light .sidebar {
     posisi: mutlak;
     atas: 50 piksel;
     kiri: 20 piksel;
     indeks-z: 1000;
     lebar: 50%;
     tampilan: tidak ada;
}

.light .sidebar ul {
     posisi: mutlak;
     latar belakang: #ff;
     tampilan: fleksibel;
     arah fleksibel: kolom;
     lebar: 100%;
     align-item: tengah;
     list-style-type: tidak ada;
     batas-radius: 5px;
}

.light .sidebar ul li {
     margin: 8 piksel;
}

.light .sidebar ul li a{
     ukuran font: 17px;
     bantalan: 5px 10px;
     batas-radius: 4px;
     warna: #00f2fe;
     dekorasi teks: tidak ada;
}

@media (lebar maks: 410 piksel){
    .isi{
        arah fleksibel: kolom;
    }

    .Baik{
        arah fleksibel: baris;
        perataan teks: tengah;
        justify-content: ruang-sekitar;
        align-item: tengah;
        margin: 0;
    }
}

@media (lebar maks: 370 piksel){
    .header{
        tinggi: 230 piksel;
    }

    .kartu:sebelum{
        clip-path: lingkaran (400px pada 50% -74.5%);
        tinggi: 230 piksel;
    }

    .hamburger-menu{
        lebar: 16 piksel;
        tinggi: 12 piksel;
        atas: 1.1rem;
        kiri: 1,5 rem;
    }

    .surat{
        ukuran font: 1.1rem;
        atas: .75rem;
        kanan: 1.5rem;
    }

    .utama .gambar{
        lebar: 90 piksel;
        tinggi: 90 piksel;
        lebar batas: 3px;
    }

    .nama, .sub-nama{
        ukuran font: 1rem;
    }

    .isi{
        bantalan: 1.2rem 1.8rem 1.8rem 1.8rem;
    }

    .nomor{
        ukuran font: 1.8rem;
    }

    .nomor-judul{
        ukuran font: .4rem;
    }

    .Baik{
        padding-top: 1rem;
    }

    .judul{
        ukuran font: .9rem;
        margin-bawah: .5rem;
    }

    .teks{
        ukuran font: .8rem;
    }

    .icons-container{
        bantalan: .5rem 0;
    }

    .ikon{
        ukuran font: 1.1rem;
    }

    .mengikuti{
        bantalan: 7.6px 0;
        batas-radius: 14.6px;
        ukuran font: .6rem;
    }

    .Bagikan{
        bantalan: 5.6px 0;
        batas-radius: 14.6px;
        ukuran font: .6rem;
    }
}


.pembungkus {
	 posisi: mutlak;
      kiri: 0;
      atas: 20 piksel;
      mengubah: skala(.8);
      margin-kiri: -75px;
}
 .toggle {
	 posisi: relatif;
	 tampilan: blok sebaris;
	 lebar: 100 piksel;
	 margin-kiri: 100px;
	 bantalan: 4px;
	 batas-radius: 40px;
}
 .toggle:sebelum, .toggle:setelah {
	 isi: '';
	 tampilan: meja;
}
 .toggle:setelah {
	 jelas: keduanya;
}
 .toggle-bg {
	 posisi: mutlak;
	 atas: -4px;
	 kiri: -4px;
	 lebar: 100%;
	 tinggi: 100%;
	 warna-latar belakang: #c0e6f6;
	 batas-radius: 40px;
	 batas: 4px solid #81c0d5;
	 transisi: semua 0,1 detik kubik-bezier (0,25, 0,46, 0,45, 0,94);
}
 .toggle-input {
	 posisi: mutlak;
	 atas: 0;
	 kiri: 0;
	 lebar: 100%;
	 tinggi: 100%;
	 perbatasan: 1px merah pekat;
	 batas-radius: 40px;
	 indeks-z: 2;
	 opasitas: 0;
}
 .toggle-switch {
	 posisi: relatif;
	 lebar: 40px;
	 tinggi: 40 piksel;
	 margin-kiri: 50px;
	 warna latar: #f5eb42;
	 batas: 4px solid #e4c74d;
	 batas-radius: 50%;
	 transisi: semua 0,1 detik kubik-bezier (0,25, 0,46, 0,45, 0,94);
      mengubah: menerjemahkan(-4px,-4px);
}
 .toggle-switch-figure {
	 posisi: mutlak;
	 bawah: -14px;
	 kiri: -50px;
	 tampilan: blok;
	 lebar: 80 piksel;
	 tinggi: 30 piksel;
	 batas: 8px solid #d4d4d2;
	 batas-radius: 20px;
	 warna latar belakang: #fff;
	 mengubah: skala(0.4);
	 transisi: semua 0,12 detik kubik-bezier (0,25, 0,46, 0,45, 0,94);
}
 .toggle-switch-figure:setelah {
	 isi: '';
	 tampilan: blok;
	 posisi: relatif;
	 atas: -65 piksel;
	 kanan: -42px;
	 lebar: 15 piksel;
	 tinggi: 15 piksel;
	 batas: 8px solid #d4d4d2;
	 batas-radius: 100%;
	 perbatasan-kanan-warna: transparan;
	 border-bottom-color: transparan;
	 mengubah: rotateZ(70deg);
	 warna latar belakang: #fff;
}
 .toggle-switch-figure:sebelum {
	 isi: '';
	 tampilan: blok;
	 posisi: relatif;
	 atas: -25px;
	 kanan: -10px;
	 lebar: 30 piksel;
	 tinggi: 30 piksel;
	 batas: 8px solid #d4d4d2;
	 batas-radius: 100%;
	 perbatasan-kanan-warna: transparan;
	 border-bottom-color: transparan;
	 mengubah: rotateZ(30deg);
	 warna latar belakang: #fff;
}
 .toggle-switch-figureAlt {
	 isi: '';
	 posisi: mutlak;
	 atas: 5 piksel;
	 kiri: 2 piksel;
	 lebar: 2 piksel;
	 tinggi: 2 piksel;
	 warna latar: #efeeda;
	 batas-radius: 100%;
	 batas: 4px solid #dee1c5;
	 box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc, 54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc, 44px 28px 0 - 2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
	 transisi: semua 0,12 detik kubik-bezier (0,25, 0,46, 0,45, 0,94);
	 mengubah: skala (0);
}
 .toggle-switch-figureAlt:sebelum {
	 isi: '';
	 posisi: mutlak;
	 atas: -6px;
	 kiri: 18 piksel;
	 lebar: 7 piksel;
	 tinggi: 7 piksel;
	 warna latar: #efeeda;
	 batas-radius: 100%;
	 batas: 4px solid #dee1c5;
}
 .toggle-switch-figureAlt:setelah {
	 isi: '';
	 posisi: mutlak;
	 atas: 19 piksel;
	 kiri: 15 piksel;
	 lebar: 2 piksel;
	 tinggi: 2 piksel;
	 warna latar: #efeeda;
	 batas-radius: 100%;
	 batas: 4px solid #dee1c5;
}
 .toggle-input:dicentang ~ .toggle-switch {
	 margin-kiri: 0;
	 warna batas: #dee1c5;
	 warna-latar belakang: #fffdf2;
}
 .toggle-input:dicentang ~ .toggle-bg {
	 warna-latar belakang: #484848;
	 warna batas: #20202020;
}
 .toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
	 margin-kiri: 40px;
	 opasitas: 0;
	 mengubah: skala(0.1);
}
 .toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
	 mengubah: skala(1);
}
